body {
  text-align: center;
  background-color: #1d1f20;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-size: 0;
  transform: translate(-50%);
}

p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #eee;
  opacity: 0.3;
}

.letter {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 ceil(0 / 2);
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #eee;
}

.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1d1f20;
}

.letter:nth-child(1):before {
  content: "0";
  margin-top: 0;
  animation-name: letter1;
  animation-duration: 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes letter1 {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(2):before {
  content: "1";
  margin-top: -24px;
  animation-name: letter2;
  animation-duration: 0.5s;
  animation-delay: 0.36s;
  animation-fill-mode: forwards;
}

@keyframes letter2 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(3):before {
  content: "2";
  margin-top: -48px;
  animation-name: letter3;
  animation-duration: 0.6666666667s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes letter3 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(4):before {
  content: "3";
  margin-top: -72px;
  animation-name: letter4;
  animation-duration: 1s;
  animation-delay: 0.48s;
  animation-fill-mode: forwards;
}

@keyframes letter4 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(5):before {
  content: "4";
  margin-top: -96px;
  animation-name: letter5;
  animation-duration: 1.25s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes letter5 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(6):before {
  content: "5";
  margin-top: -120px;
  animation-name: letter6;
  animation-duration: 1.3333333333s;
  animation-delay: 0.24s;
  animation-fill-mode: forwards;
}

@keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(7):before {
  content: "6";
  margin-top: -144px;
  animation-name: letter7;
  animation-duration: 1.4285714286s;
  animation-delay: 0.34s;
  animation-fill-mode: forwards;
}

@keyframes letter7 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(8):before {
  content: "7";
  margin-top: -168px;
  animation-name: letter8;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes letter8 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(9):before {
  content: "8";
  margin-top: -192px;
  animation-name: letter9;
  animation-duration: 1.7777777778s;
  animation-delay: 0.79s;
  animation-fill-mode: forwards;
}

@keyframes letter9 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(10):before {
  content: "9";
  margin-top: -216px;
  animation-name: letter10;
  animation-duration: 2s;
  animation-delay: 0.72s;
  animation-fill-mode: forwards;
}

@keyframes letter10 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(11):before {
  content: ".";
  margin-top: -240px;
  animation-name: letter11;
  animation-duration: 2.1818181818s;
  animation-delay: 0.14s;
  animation-fill-mode: forwards;
}

@keyframes letter11 {
  from {
    margin-top: -240px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(12):before {
  content: "i";
  margin-top: -264px;
  animation-name: letter12;
  animation-duration: 2.4s;
  animation-delay: 0.38s;
  animation-fill-mode: forwards;
}

@keyframes letter12 {
  from {
    margin-top: -264px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(13):before {
  content: "o";
  margin-top: -288px;
  animation-name: letter13;
  animation-duration: 2.6153846154s;
  animation-delay: 0.17s;
  animation-fill-mode: forwards;
}

@keyframes letter13 {
  from {
    margin-top: -288px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(14):before {
  content: "/";
  margin-top: -312px;
  animation-name: letter14;
  animation-duration: 2.7857142857s;
  animation-delay: 0.66s;
  animation-fill-mode: forwards;
}

@keyframes letter14 {
  from {
    margin-top: -312px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(15):before {
  content: "l";
  margin-top: -336px;
  animation-name: letter15;
  animation-duration: 3s;
  animation-delay: 0.24s;
  animation-fill-mode: forwards;
}

@keyframes letter15 {
  from {
    margin-top: -336px;
  }
  to {
    margin-top: 24px;
  }
}

.letter:nth-child(16):before {
  content: "e";
  margin-top: -360px;
  animation-name: letter16;
  animation-duration: 3.25s;
  animation-delay: 0.79s;
  animation-fill-mode: forwards;
}

@keyframes letter16 {
  from {
    margin-top: -360px;
  }
  to {
    margin-top: 24px;
  }
}
